<div class="book">
  <div class="show-comment">
    <div class="success">
      <% if flash[:notice] %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
    </div>
    <div>
      <strong>Title:</strong>
      <%= @book.title %>
    </div>
      <strong>Body:</strong>
      <%= @book.body %>
  </div>

  <%= link_to "Edit", edit_book_path(@book.id) %>
  |
  <a href="/books">Back</a>
</div>